@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap');

:root {
    --white: #fff;
    --primary: #FAEDE3;
    --primary-dark: #ecdcd0;
    --secondary: #D99F84;
    --text: #170e0b;
}